@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

// .fixedSectionHeader {
//     position: fixed;
//     width: 100%;
//     max-width: calc(100% - ($sub-menu-width + $main-menu-width + $main-margin))px;
// }

.has-subMenu {
    color: $primary-color;
    font-weight: 600;
    font-size: 14px;
}

.table-header {
    background: $theme-color-1;
    padding: 1rem 1.75rem;
    margin: 0px;
    margin-bottom: 1rem;
    width: max-content;
    flex-wrap: nowrap !important;
    margin-left: 0px;
    margin-right: 15px;
    padding-right: 0.5rem;
    position: absolute;

    .th-column {
        color: $button-text-color;
        font-weight: 500;
        letter-spacing: .05rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.table-scrollable {
    max-height: 650px;
    width: 100%;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
        width: 100%;
    }

    .tabledata {
        margin-top: 70px;
    }
}

.tableContainer {
    overflow: scroll;
}

.tableContainer::-webkit-scrollbar {
    // display: none;
    width: 100%;
    height: 6px;
    background: $separator-color;
}

.table-expand {
    font-size: 1.5rem !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    margin-left: 1rem !important;
    margin-top: .5rem;
    color: $muted-color;
}

.table-expand {
    &:hover {
        background: none;
        color: $theme-color-1;
    }
}

.record-data {
    width: max-content !important;
    background: $foreground-color;
}

.cardCell {
    width: 180px !important;
    margin: 0px 20px;
    text-align: left;

    &--50px {
        width: 50px !important;
    }

    &--100px {
        width: 100px !important;
    }
    
    &--150px {
        width: 150px !important;
    }
    
    &--0px {
        width: 0px !important;
    }

    &--250px {
        width: 250px !important;
    }

    &--350px {
        width: 350px !important;
    }

}

.record-options {
    background: $separator-color-light !important;
    padding: 1rem 1.75rem !important;
}

.search-sm,
.search-sm input {
    width: 100%;
}

.option-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.tbl-sorticon {
    background-color: transparent !important;
    background: transparent !important;
    border: none !important;

    :hover {
        color: #000;
        transition: .35s ease;
    }

}