@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

.tableContainer {
    overflow: scroll;
}

.tableContainer::-webkit-scrollbar {
    display: none;
    width: 100%;
}